.car_cards{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    .car_card{
        border: 1px solid #e5e5e5;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
}